.user_name {
  padding: 0.7em;
  display: flex;
  align-items: center;
}

.img_user {
  width: 3.12em;
  height: 3.12em;
  border-radius: 50%;
  margin-right: 0.7em;
}

.user_name_date {
  margin-left:  1.25em;
}

.messages {
  padding: 0.7em;
}

.chat_message {
  display: flex;
  padding: 0.3em  1.25em;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 3.75em;
}

.user_logged {
  padding: 0 0.7em;
  display: flex;
  align-items: center;
}

.user_logged img {
  margin-right: 0.7em;
}

.message_user {
  overflow-y: scroll;
  height: 90vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #28303b;
}

*::-webkit-scrollbar {
  width: 0.75em;
}

*::-webkit-scrollbar-track {
  background: #374151;
}

*::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius:  1.25em;
  border: 3px solid #28303b;
}

.user_in_focus {
  background: #374151;
  border-radius: 0.3em;
  opacity: 0.7;
}

.nav_avatar {
  width: 3.12em;
  height: 3.12em;
  border-radius: 50%;
}

.user_name_list {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 0.4em;
}



.avatar_user_logged {
  margin-right: 0.7em;
  width: 3.12em;
  height: 3.12em;
  border-radius: 50%;
}

.notification {
  width: 1.25em;
  height:  1.25em;
  background: #ff0101;
  border-radius: 50%;
  margin: 3px -4px -27px -11px;
  border: 2px solid #000;
  position: absolute;
}

.hidden {
  display: none;
}
